/* 
** Events ----------------------------------------
*/

.events-nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
}

.events-nav__li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100px;
  background-color: var(--brightGray);
  color: var(--gray);
  border-radius: 60px 0 0 0;
  cursor: pointer;
  transition: all 0.5s;
}
.events-nav__li:hover {
  background-color: var(--gray);
  color: #fff;
}

.section-events .active {
  position: relative;
  color: #fff;
  background-color: var(--gray);
  width: 32%;
  height: 120px;
}

.section-events .active::before {
  content: '';
  position: absolute; 
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: var(--gray);
}

.section-events .active:after {
  content: '';
  position: absolute; 
  bottom: 0;
  left: 50px;
  right: 50px;
  height: 1px;
  background-color: #fff;
}

.events-nav__li p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 2.4rem;
  line-height: 3rem;
  width: auto;
}

.events-nav__li span {
  font-size: 1rem;
  line-height: 1.8rem;
}

/* Events Frame */
.events-frame {
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-color: var(--gray);
}
.events-frame .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 80px;
}
.section-events .dots .dot {
  width: 30px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px; 
}

/* Event Card */
.event-card {
  width: 30%;
  align-self: stretch;
}

.event-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  margin-left: auto;
  font-size: 1.6rem;
  color: var(--darkGray);
}

.event-card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #fff;
  padding: 20px 35px;
  height: 90%;
  color: #fff;
  line-height: 1.8rem;
  cursor: pointer;
  transition: all 0.5s;
}
.event-card__body:hover {
  background-color: #fff;
  color: var(--darkGray);
}
.event-card__body:hover::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent var(--darkGray) transparent;
}

.event-date {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}
.event-date .event-day {
  font-size: 1.2rem;
}
.event-date .day-to {
  font-size: 1.4rem;
  vertical-align: middle;
}
.event-location {
  margin-bottom: 10px;
}
.event-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
}
.event-subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Slider */
.slider {
  position: relative;
  height: 800px;
}
.slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}
.may-page2, .june-page2 {
  transform: translateX(100vw);
}

/* Controller */
.events-frame .controllers {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}
.control {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 2rem;
  margin-right: 20px;
  border: 1px solid var(--brightGray);
  cursor: pointer;
  transition: all 0.5s;
}
.control:hover {
  background-color: #fff;
  color: var(--gray);
}
.page {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 3px;
  color: #fff;
}
.disabled {
  background-color: var(--brightGray);
  color: var(--gray);
  cursor: default;
}
.disabled:hover {
  background-color: var(--brightGray);
  color: var(--gray);
}
