/* 
** Header ----------------------------------------
*/
.section-nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid var(--gray);
  transition: top 0.5s;
}
.logo {
  background: url('../assets/logo.png') no-repeat no-repeat center;
  width: 300px;
  height: 70px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items__ul {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}
.nav-items__li {
  display: inline-block;
  padding: 30px 25px;
  text-align: center;
  cursor: pointer;
}
.section-nav .active {
  color: var(--darkGray);
}
.section-nav .active .triangle {
  display: block;
  border-color: var(--darkGray) transparent transparent transparent;
}
.triangle {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: var(--lightGray) transparent transparent transparent;
}
.dropdown-btn:hover .triangle {
  display: block;
  border-color: var(--darkGray) transparent transparent transparent;
}
.dropdown-btn:hover .dropdown-btn__a {
  color: var(--darkGray);
}

/* 子選單 */
.dropdown-btn {
  position: relative;
  height: auto;
}
.dropdown {
  display: none;
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: 1;
}
.dropdown-btn:hover .dropdown {
  display: block;
}
.dropdown-item:hover {
  color: var(--darkGray);
}
.dropdown-item {
  padding: 15px 20px;
}
.dropdown .nav-items__ul {
  justify-content: center;
  width: 150vw;
  transform: translate(-50%);
  background-color: #fff;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  height: 70px;
}

/* Mobile */
.menu-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--gray);
}
.menu-mobile .navbar-brand {
  width: 300px;
}
/* Hamburger Animation */
.hamburger-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
.hamburger {
  width: 25px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--darkGray);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 7px;
}
.hamburger span:nth-child(2) {
  top: 15px;
}
.hamburger span:nth-child(3) {
  top: 23px;
}
.hamburger.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
  top: 15px;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
}
/* Mobile Menu Body */
.menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 20px 0;
}
.menu-mobile .navbar-brand .logo {
  width: 200px;
  background-size: contain;
  margin: 0 auto;
}
.menu-item {
  display: block;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  font-size: 1.4rem;
}
a.menu-item, a.menu-item:visited, a.menu-item:link {
  color: var(--darkGray);
}
span.menu-item {
  font-size: 0.9rem;
  padding: 2px 0;
}
.menu .nav-items__ul {
  justify-content: center;
  font-size: 1.2rem;
}
.menu .dropdown-item {
  padding: 0 10px;
}
a.dropdown-item, a.dropdown-item:visited, a.dropdown-item:link {
  color: var(--darkGray);
}

/* RWD */
@media screen and (max-width: 1200px) {
  .section-nav .container {
    width: 90%;
  }
  .nav-items__li {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 992px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
}
