@import './normalize.css';
@import './variables.css';
@import './header.css';
@import './kv.css';
@import './preface.css';
@import './video.css';
@import './programs.css';
@import './events.css';
@import './cta.css';
@import './footer.css';
@import './popup.css';

/* Global Config */
ul, li, p, h1, h2, h3, h4, h5, h6, a {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
a:link, a:visited {
  color: var(--lightGray);
}
a:hover {
  color: var(--darkGray);
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1.6rem;
  overflow-x: hidden;
}
.section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 100px 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

/* Color Class */
.colorRed_1 {
  color: var(--red_1);
}
.colorRed_2 {
  color: var(--red_2);
}
.colorRed_3 {
  color: var(--red_3);
}
.colorRed_4 {
  color: var(--red_4);
}
.colorDark {
  color: var(--dark);
}
.bgRed_1 {
  background-color: var(--red_1);
}
.bgRed_2 {
  background-color: var(--red_2);
}
.bgRed_3 {
  background-color: var(--red_3);
}
.bgRed_4 {
  background-color: var(--red_4);
}
.bgDark {
  background-color: var(--dark);
}

/* Dots */
.dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
}

/* 裝飾球 */
.colorDot {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.colorDot_1 {
  position: absolute;
  left: -100px;
  top: 700px;
}
.colorDot_2 {
  position: absolute;
  right: -100px;
  top: 0px;
}
.colorDot_3 {
  position: absolute;
  right: -100px;
  top: 250px;
}
.colorDot_4 {
  position: absolute;
  left: -100px;
  top: 1400px;
}


/* 分隔線 */
.hr {
  width: 100%;
  height: 1px;
  background-color: var(--lightGray);
}

/* 標題 */
.title-main {
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 4.8rem;
  margin-bottom: 60px;
  color: var(--lightGray);
}

.title-category {
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--darkGray);
}

.title-event {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1px;
  width: 100%;
  color: var(--darkGray);
}

/* Section */
.section-kv {
  padding: 0;
}
.section-programs {
  height: auto;
}
.section-events {
  height: auto;
  padding-bottom: 0px;
}

.section-cta {
  position: relative;
  min-height: 450px;
  height: 450px;
}
.section-footer {
  height: 450px;
  min-height: 450px;
  background-color:var(--darkGray);
}

/* Copyright */
.copyright {
  padding: 60px 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  color: var(--darkGray);
}
