
/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  overflow-y: scroll;
  background-color: rgba(190, 206, 215, 0.6);
  transition: all 0.5s;
}
.popup-frame {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 50px 100px;
  overflow: hidden;
  z-index: 3;
}
.popup-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}
.popup-header .closePopup {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 3rem;
  cursor: pointer;
  color: var(--gray);
  transition: all 0.5s;
}
.popup-header .closePopup:hover {
  color: var(--darkGray);
}
.popup-body {
  padding: 30px 100px;
  z-index: 2;
}

/* Popup Body */
.popup-category {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: var(--darkGray);
}
.popup-title {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: var(--darkGray);
}
.popup-subtitle {
  font-size: 2rem;
  color: var(--gray);
}
.popup-img {
  position: relative;
  width: 100%;
  margin: 30px auto;
  height: 500px;
  object-fit: cover;
}
.popup-content {
  margin-bottom: 50px;
}
.popup-content p {
  margin-bottom: 30px;
}
.lead {
  font-weight: bold;
  margin-right: 10px;
  color: var(--darkGray);
}
.popup-info {
  color: var(--darkGray);
  margin-bottom: 30px;
}
.popup-info .date {
  font-size: 2rem;
  font-weight: bold;
}
.popup-info .date .day {
  font-size: 1.2rem;
  margin: 0 5px;
}
.popup-info .date .day-to {
  font-size: 1.4rem;
  vertical-align: middle;
}
.popup-link {
  color: var(--darkGray);
}
.popup-link .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.popup-link .row span {
  margin-right: 10px;
}
.popup-link a {
  font-weight: bold;
  border-bottom: 1px solid var(--gray);
}
.popup-link .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

/* Popup 裝飾球 */
.popup-frame .colorDot_1 {
  position: absolute;
  top: 20%;
}
.popup-frame .flowerDot, .popup-frame .flowerDot_2 {
  position: absolute;
  top: 40%;
  right: -100px;
  background: url('../assets/flowerDot.png') no-repeat no-repeat center;
  width: 200px;
  height: 200px;
  background-size: contain;
}
.popup-frame .colorDot_2 {
  position: absolute;
  top: 60%;
}
.popup-frame .colorDot_3 {
  position: absolute;
  top: 80%;
}
.popup-frame .dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px; 
}
/* 心築序言 */
#popup_0 .popup-img {
  width: 60%;
  background: url('../assets/popup-1.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
.popup_0_dots .colorDot_1 {
  top: 50%;
  transform: translateY(-50%);
}
.popup_0_dots .lightDot {
  position: absolute;
  top: 20%;
  right: -125px;
  background: url('../assets/lightDot.png') no-repeat no-repeat center;
  width: 250px;
  height: 250px;
  background-size: contain;
}
.popup-footer {
  width: 300px;
  margin-left: auto;
}
.popup-footer p {
  font-size: 1.6rem;
}
.signature {
  background: url('../assets/signature.png') no-repeat no-repeat center;
  width: 300px;
  height: 180px;
  background-size: contain;
}
/* 特別企劃 */
.slogan {
  font-size: 1.6rem;
  font-style: italic;
}
#popup_1 .popup-img {
  background: url('../assets/popup-img__1.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_2 .popup-img {
  background: url('../assets/popup-img__2.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_3 .NTT-logo {
  width: 100px;
  height: 40px;
}
#popup_3 .popup-img {
  background: url('../assets/popup-img__3.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_3 .popup-img-2 {
  background: url('../assets/popup-img__3-2.png') no-repeat no-repeat center;
  height: 700px;
  background-size: contain;
}
/* 戲曲 */
#popup_4 .popup-img {
  background: url('../assets/popup-img__4.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_5 .popup-img {
  background: url('../assets/popup-img__5.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
/* 音樂 */
#popup_6 .popup-img {
  background: url('../assets/popup-img__6.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_7 .popup-img {
  background: url('../assets/popup-img__7.jpg') no-repeat no-repeat center;
  background-size: 100%;
}

/* 文史 */
#popup_8 .popup-img {
  background: url('../assets/popup-img__8.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_9 .popup-img {
  background: url('../assets/popup-img__9.jpg') no-repeat no-repeat center;
  background-size: 100%;
}
#popup_9 .hr {
  margin: 30px 0;
}
#popup_9 .popup-info a {
  font-size: 1.2rem;
  color: var(--darkGray);
  border-bottom: 1px solid var(--darkGray);
}
#popup_9 .popup-info a:hover {
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}
.popup_9_dots .colorDot_1 {
  top: 6%;
}
.popup_9_dots .flowerDot {
  top: 20%;
}
.popup_9_dots .colorDot_2 {
  top: 30%;
}
.popup_9_dots .colorDot_3 {
  top: 40%;
}
.popup_9_dots .colorDot_4 {
  top: 60%;
}
.popup_9_dots .colorDot_5 {
  top: 70%;
}
.popup_9_dots .flowerDot_2 {
  top: 80%;
}

/* 人物資訊 */
.person-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.person-info p {
  width: 70%;
  margin: 0;
}
.person-info__img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: contain;
}
.person-info__img-1 {
  background: url('../assets/person-info_1.png') no-repeat no-repeat center;
  background-size: 100%;
}
.person-info__img-2 {
  background: url('../assets/person-info_2.png') no-repeat no-repeat center;
  background-size: 100%;
}
.person-info__img-3 {
  background: url('../assets/person-info_3.png') no-repeat no-repeat center;
  background-size: 100%;
}

/* 疫情文字 */
.popup-info {
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  left: 150px;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}


/* RWD */
@media screen and (max-width: 1200px) {
  .popup {
    padding: 30px;
  }
  .popup-frame {
    padding: 30px 50px;
  }
  .popup-body {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 992px) {
  .popup-header .closePopup {
    font-size: 2.4rem;
  }
  .popup-category {
    font-size: 1.2rem;
  }
  .popup-title {
    font-size: 2rem;
  }
  .popup-subtitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .popup-img {
    margin: 10px auto;
  }
}
@media screen and (max-width: 768px) {
  .popup-header .closePopup {
    top: 20px;
    right: 30px;
  }
  .popup-info .date .day-to {
    font-size: 1.2rem;
  }
  .popup-info .date {
    font-size: 1.6rem;
  }
  .popup {
    padding: 20px;
  }
  .popup-frame {
    padding: 15px;
  }
  .popup-body {
    padding: 15px;
  }
  .popup-img {
    margin: 20px auto;
    height: 250px;
    background-size: contain;
  }
  .person-info p {
    width: 100%;
  }
  .person-info__img {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
  }
}