/* 
** Preface ----------------------------------------
*/

.section-preface {
  position: relative;
}

.section-preface .container {
  position: relative;
}

.preface-intro {
  width: 40%;
  padding: 50px 0;
  border: 1px solid red;
}
.description {
  margin-bottom: 60px;
}

.preface-img-frame {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 100px 0;
  background-color: #eee;
}

.preface-img {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}