/* 
** Preface ----------------------------------------
*/
.section-preface {
  position: relative;
}
.section-preface .container {
  position: relative;
}
.preface-intro {
  width: 40%;
  padding: 100px 0;
}
.description {
  line-height: 1.8rem;
  margin-bottom: 60px;
}
.preface-img-frame {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.preface-img-frame:hover::after {
  content: '';
  position: absolute; 
  left: 0;
  top: 100px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: var(--darkGray);
}
.preface-img-mask {
  overflow: hidden;
  position: absolute;
  top: 100px;
  bottom: 100px;
  width: 100%;
  border-radius: 60px 0 0 0;
}
@media screen and (max-width: 992px) {
  .preface-intro {
    width: 100%;
    padding: 30px 0;
  }
  .preface-img-frame {
    width: 100%;
    position: static;
  }
  .preface-img-mask {
    position: static;
    height: 300px;
  }
}
.preface-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background: url('../assets/preface.jpg') no-repeat no-repeat center;
  background-size: 150%;
}

.caption {
  position: absolute;
  right: 30px;
  bottom: 150px;
  color: var(--darkGray);
  letter-spacing: 5px;
}

/* 按鈕 */
.section-preface .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding: 15px 30px;
  border: 1px solid var(--darkGray);
  cursor: pointer;
  color: var(--darkGray);
  transition: all 0.5s;
}
.section-preface .btn:hover {
  border: 1px solid var(--gray);
  background-color: var(--gray);
  color: #fff;
}
.section-preface .arrow {
  background: url('../assets/arrow.png') no-repeat no-repeat center;
  width: 120px;
  height: 30px;
}
.section-preface .btn:hover .arrow {
  background: url('../assets/arrow_white.png') no-repeat no-repeat center;
  animation: arrowSlide 0.5s;
}