/* 
** Video ----------------------------------------
*/
.section-video .title-main {
  color: #fff;
}
.section-video .btn {
  border: 1px solid #fff;
  color: #fff;
}
.video-frame {
  width: 100%;
  height: 700px;
  position: relative;
}

.video {

}

.video-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: rgb(146, 98, 98);
}

.video-mask__content {
  
}